.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane {
    float: left;
    width: 100%;
    display: none;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-content > .active {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.05);
}

/* Table Style */
table.cpt-manager-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table.cpt-manager-table thead th {
    background-color: #009879;
    color: #ffffff;
    padding: 12px 15px;
    text-transform: uppercase;
    border: 1px solid #dddddd;
}

table.cpt-manager-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.cpt-manager-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.cpt-manager-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table.cpt-manager-table tbody th,
table.cpt-manager-table tbody td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

table.cpt-manager-table tbody td a {
    color: #009879;
    text-decoration: none;
    font-weight: bold;
}

table.cpt-manager-table tbody td a:hover {
    text-decoration: underline;
}


table.cpt-manager-table td.form-actions {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}